

header {
    display: flex;
    align-items: center;
    background: radial-gradient(circle, #eeaeca 0%, rgba(148,187,233,1) 100%);
    padding:1rem;
    width: 100%;
    height: 6.4rem;
  
    .main-title__text{
        color:purple;
    }
}



.all-item__section{

    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    padding:1rem;
    width: 100%;
    height: 34rem;

    .all-item__ul{
        display: flex;
        align-items: center;
        margin-top: 5rem;

        width: 90%;
        overflow: auto;
        white-space: nowrap;
        .item__li{
            margin:1rem;

            article {
                .picture_img{
                    border-radius: 1rem;
                    width: 13rem;
                    height: 18rem;
                }

                .item-info__section{
                    display: flex;
                    flex-direction: column;
                    gap:0.5rem;
                    margin-top:0.8rem;
                    height: 4rem;
                }
                p{
                    
                    font-size:1.4rem;
                }
            
            
            }
           
        }
        
    }
}