main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cetner;

    background-color: #eeeeee;
}

.main-title__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #eeaeca 0%, rgba(148, 187, 233, 1) 100%);
    padding: 1rem;
    width: 100%;
    height: 6.4rem;

    section {

        .main-title__text {
            color: purple;
        }
    }

}



.all-item__section {

    display: flex;
    justify-content: center;


    padding: 1rem;
    width: 100%;
    height: 34rem;

    .all-item__ul {
        display: flex;
        align-items: center;
        margin-top: 5rem;

        width: 150rem;
        height: 30rem;
        overflow: auto;
        white-space: nowrap;

        .item__li {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin: 0.5rem;

            border-radius: 6px;
            background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            width: 22rem;
            height: 26rem;
            ;

            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;
                width: 16rem;

                .picture_img {
                    border-radius: 10px;
                    width: 14.5rem;
                    height: 18rem;
                }

                .item-info__ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: center;
                    justify-content: center;
                    margin-top: 0.8rem;
                    border-radius: 10px;

                    width: 14.5rem;
                    height: 6rem;

                    li {
                        color: white;
                        font-size: 1.4rem;
                    }
                }



            }

        }

    }
}

.routing__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    background-color: #808080;
    width: 100%;
    height: 10rem;

    .nav__ul {
        display: flex;
        gap: 5rem;

        .nav__li {
            a {
                color: white;
                font-size: 2rem;

                &:hover {
                    text-decoration: underline;
                    color: purple;
                }
            }
        }
    }
}



.content__header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
    background: radial-gradient(circle, #eeaeca 0%, rgba(148, 187, 233, 1) 100%);
    width: 150rem;
    height: 4rem;
    color: purple;
}

.content__section {

    display: flex;
    flex-basis: 130rem;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border: 3px solid #a0a0a0;
    max-width: 140rem;

    height:fit-content;
    .content__ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        .content__li {
            display: flex;
            flex-basis:26rem;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
            // height: 30rem;
            .content__img {
                 width: 100%;
                height: 100%;
            }
        }

    }

}
