body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

}

hr {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title__header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 6.4rem;

    color: #3253FF;


    h1 {
        font-weight: 700;
    }
}

.deposit__section {

    display: flex;
    gap: 3rem;
    place-content: center center;

    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 4px solid #3253FF;
    border-radius: 10px;
    padding-top: 2rem;
    width: 40rem;
    height: 20rem;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
        color: white;
    }

    p {
        text-align: center;
        color: white;
        font-size: 3.4rem;
    }

    .withdraw-sum__section {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        width: 20rem;

        .income__article {
            color: #3243FF;
            font-size: 2rem;
        }

        .expend__article {
            color: red;
            font-size: 2rem;
        }
    }
}

.date__header {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    color: white;

    .date-change-btn {
        margin: 0 2rem;
        cursor: pointer;
        padding: 0.5rem;
        color: white;
        font-size: 2rem;
    }
}

.index__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 70%;

}

.index-title__p {
    color: white;
    font-size: 2.4rem;
}

.separate-deposit {
    display: flex;
    width: 10rem;

}





.custom-income-checkbox {
    display: flex;
    float: left;

    margin: 4px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #808080;
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    overflow: hidden;

    label {
        float: left;
        width: 5rem;
        height: 3rem;
        line-height: 3rem;

        span {
            display: block;
            cursor: pointer;
            text-align: center;
            color: white;
            font-size: 1.2rem;
        }

        input {
            display: none;
            position: absolute;
            color: #fff !important;

        }

        input+span {
            color: #fff;
        }

        input:checked+span {
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
            color: #ffffff;
        }
    }
}

.action input:checked+span {
    background-color: #3253FF;
}





.withdraw__section {
    margin-bottom: 10rem;
    width: 100%;
    height: 70rem;
    overflow: auto;

    .withdraw__ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin-top: 3rem;
        width: 100%;


        .withdraw__li {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgb(85, 85, 85);
            border-radius: 7px;
            padding-right: 2rem;
            padding-left: 2rem;
            width: 90%;
            height: 6rem;
            color: white;

            article {
                font-size: 1.4rem;
            }

            .delete-btn {
                position: absolute;
                top: 0.8rem;
                right: 0.3rem;
                color: white;
                font-size: 1.4rem;
            }
        }

    }
}

.expend {
    color: red;
}

.income {
    color: #3253ff
}


footer {
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 4.5rem;

    .plus-btn {
        display: flex;
        position: relative;
        right: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        border-radius: 10px;
        background-color: #3243FF;
        cursor: pointer;
        width: 7.5rem;
        height: 4.5rem;
        color: white;
        font-size: 4rem;
    }

}